@keyframes chevron_down_anim {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }
@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  animation: fade_in 2s ease; }

html {
  height: auto; }

#main {
  background-color: #eeeeee; }

#about {
  background-color: green; }

#cv {
  background-color: blue; }

#work {
  background-color: yellow; }

#video {
  width: 100vw;
  height: auto;
  background-size: cover; }

.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center; }

#contact-button {
  top: 10%;
  left: 10%; }

#cv-button {
  bottom: 10%;
  left: 10%; }

#work-button {
  top: 10%;
  right: 10%; }

#portfolio-button {
  bottom: 10%;
  right: 10%; }

.card {
  background: lightgray;
  padding: 15px;
  border-radius: 1px;
  box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.43);
  color: white;
  position: absolute;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-family: monospace;
  cursor: pointer; }
  .card:hover {
    box-shadow: 0px 5px 25px 3px rgba(0, 0, 0, 0.43);
    transition: all 700ms ease;
    transform: perspective(0rem) rotate3d(0, 0, 0, 0) !important; }

.full-panel {
  position: relative;
  width: 100%;
  height: 100%; }

.quarter {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center; }

#video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes chevron_down_anim {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }
@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: 'pauvi';
  src: url("../fonts/pauvi.eot");
  src: url("../fonts/pauvi.eot?#iefix") format("embedded-opentype"), url("../fonts/pauvi.ttf") format("truetype"), url("../fonts/pauvi.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  animation: fade_in 2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  user-select: none;
  cursor: default;
  font-size: 14px;
  font-family: 'pauvi';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #555555;
  background-color: #fbf9f7; }

.cd-section {
  padding: 0 !important;
  text-align: center; }

#logo {
  position: relative;
  /* left: 5%; */
  width: 93px; }

.center {
  text-align: center; }

.title {
  font-size: 70px;
  margin: 40px 0 30px 0; }

.center-box .buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .center-box .buttons-box a {
    text-decoration: none;
    color: inherit; }
  .center-box .buttons-box .button {
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.5s ease, color 0.5s ease, background-color 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
    border: 1px solid #CCCCCC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCCCCC;
    margin: 10px; }
  .center-box .buttons-box .yes, .center-box .buttons-box .no {
    color: white;
    border: none; }
    .center-box .buttons-box .yes:hover, .center-box .buttons-box .no:hover {
      color: white !important;
      box-shadow: 0 2px 8px #9a9a9a;
      transform: scale(1.05); }
  .center-box .buttons-box .yes {
    background-color: #BADA55; }
  .center-box .buttons-box .no {
    background-color: red; }
  .center-box .buttons-box #trust:hover {
    border-color: #BADA55;
    color: #BADA55; }
  .center-box .buttons-box #bye:hover {
    border-color: red;
    color: red; }

.sure-message {
  position: relative;
  margin-bottom: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s ease; }

.flash-message {
  text-align: center;
  font-weight: lighter;
  height: 60px; }

.footer {
  position: absolute;
  bottom: 40px; }

/*# sourceMappingURL=styles.css.map */
