@import "animations.scss";

$background-color: #fbf9f7;
$font-color: #555555;

body{
	animation: fade_in 2s ease;
}

html{
    height: auto;

}

#dashboard{}
#main{
    background-color: red; 
}
#about{
    background-color: green;
}
#cv{
    background-color: blue;
}
#work{
    background-color: yellow;
}

  #video{
    width: 100vw;
    height: auto;
    background-size: cover;
  }




#video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}